/*secao tags*/

body{
    margin: 0;
    background-color: #0a5483;
    font-family: 'Roboto', sans-serif;
    color: white;
}



h2, h3{
    font-size: 30px;
}

nav{
    background-color: #012946; 
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li{
    list-style: none;
    display: inline-block;
    margin: 5px;
}

a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background-color: #000;
}

a:hover{
    color: #aedd2b;
    text-decoration: underline;
    border: solid 2px #aedd2b;
}


hr{
    border: 0;
    width: 10%;
    border-top: #fff dotted 16px; 
    margin: 100px auto;
}


div{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p{
    text-align: justify;
    line-height: 2;
    
}

header{
    width: 100%;
    margin-bottom: 100px;
}

footer{
    width: 100%;
}

footer > p{
    color: #fff;
    text-align: center;
    background-color: #012946;
    margin: 0;
    padding: 20px;


}

fieldset{
    margin: 10px auto;
    width: 60%;
    border: solid 10px black;
    background-color: #012946;
    color: #aedd2b;
    height: 400px;
}

input{
    margin: 10px;
    display: inline;
    width: 40%;
    border: solid 3px #000;
}

input[type=text]{
    height: 150px
}

button{
   margin: 0 auto;
   display: block;
   width: 250px;
   height: 30px;
}

article{
    width: 60%;
    margin: 0 auto;
    background-color: #012946;


}

section{
    text-align: center;
}

section > p{
    margin: 0 30px
}

/*=====classes====*/

.titulo-padrao-index{
    text-align: center;
    font-size: 40px;
    color: rgb(51, 51, 207);
    background-color: black;
    margin: 0;
    border: 6px red dashed;
    padding: 20px;
}

/*=====ids====*/

#cerebro-tech1{
    position: absolute;
    left: 1%;
    top: 0;
}

#cerebro-tech2{
    position: absolute;
    right: 1%;
    bottom: 0;
}

#eu{
    border-radius: 50;
}

#Projetos{
    text-align: center;
    font-size: 40px;
    color: white;
    margin:  0;
}